* {
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration:none;
    color: white;
}

p {
    line-height: 2em;
}

nav {
    height:80px;
    width:100%;
    max-width:75%;
    margin:0 auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

body {
    background-color: #03032a;
    color:white;
}

h1 {
    font-size: 1.5em;
    color: #ED5565;
    /* checking size
    background-color: #fff;
    */
}

li {
    list-style: none;
}

img {
    vertical-align:middle;
}

.container {
    width:100%;
}

.row {
    width:70%;
    margin:0 auto;
    padding: 0 12px;
}

.section_title {
    text-align: center;
    font-size:40px;
    margin-bottom: 60px;
    padding-top: 60px;
}

.text_orange {
    color: #53dec9;
}

.nav_link_anchor {
    margin: 0 12px;
    font-weight:700;
    vertical-align: auto;
    color:white;
}

.nav_link_anchor_primary {
    background-color:#ed5565;
    padding: 8px 20px;
    border-radius:50px;
    transition:all 300ms ease;
}

.nav_link_anchor_primary:hover {
    background-color:#b53d49;
}

.personal_logo {
    font-size:24px;
    margin:0 12px;
    font-weight:bold;
}

#projects_list {
    transition:all 300ms ease;
}

.intro {
    font-size: 4em;
    max-width:90%;
    height:100%;
    padding:20px 0 120px;
    margin: 0 0 0 140px;
}

.about {
    font-size:1em;
}

.about_paragraph {
    font-size:0.4em;
    padding-top:20px;
    max-width:65%;
}

.icons a {
    font-size:25px;
    padding:2px;
    width:40px;
    height:40px;
    margin-right:2px;
    display:inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color:#ed5565;
    border-radius: 50px;
}

.projects {
    background-color: #121244;
    height:100%;
}

.project_list li {
    margin-bottom:0px;
    padding-bottom:100px;
}

.project_wrapper {
    position: relative;
    border-radius: 20px;
    box-shadow: 0 20px 80px 0 #000;
    overflow:hidden;
}

.project_img {
    width:100%;
}

.image_overlay {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition:opacity 500ms;
    backdrop-filter: blur(5px);
    opacity:0;
}

.image_overlay_blur {
}

.image_overlay > * {
    transform: translateY(100%);
    transition: transform 500ms;
}

.image_overlay:hover {
    opacity: 1;
}

.image_overlay:hover > * {
    transform: translateY(0);
}

.image_title {
    font-size: 50px;
}